body {
  background-color: #000;
}

#listPage #listBox {
  overflow: auto;
  box-sizing: border-box;
}

#listPage #listBox .alert {
    width: 100%;
    margin: 30% auto;
    text-align: center;
    line-height: 200%;
}

#listPage #listBox .alert a{
  color: #ffa;
  text-decoration: none;
}

#listPage #listBox li {
  border-top: 1px solid #111;
}

#listPage #listBox li:hover {
  border-top: 1px solid #000;
  font-weight: bold;
  color: #fff;
  text-shadow: 0;
  background-image: linear-gradient(#555, #383838);
}

#listPage #listBox li article {
  padding: 10px;
  cursor: default;
}

#listPage #listBox li article:after {
  content: "";
  display: table;
  clear: both;
}

#listPage #listBox li .ui-link-inherit {
  padding: 0 7px 0 0;
  overflow: visible;
  white-space: nowrap;
  min-height: 0;
  color: #ffa;
}

#listPage #listBox li .ui-li-desc  .ui-link-inherit {
  padding: 0;
  overflow: hidden;
  white-space: word-wrap;
}

#listPage #listBox li .ui-li-heading {
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 0;
  white-space: normal;
  line-height: 1.3em;
}

#listPage #listBox li .ui-li-desc {
  white-space: normal;
  font-size: 0.8em;
  line-height: 1.3em;
  overflow: visible;
  padding-right: 7px;
}

#listPage #listBox li .rel-news {
  padding-top: 3px;
}

#listPage #listBox li .ui-li-aside {
  width: 120px;
  margin: -5px 0 0  0;
  padding-top: 3px;
  font-size: 0.7em;
}

#listPage #listBox li .keyword {
  margin-bottom:0;
  padding-top: 3px;
}

#listPage #listBox .ui-li img {
  position: inherit;
  float: left;
  border: 1px solid #1d1d1d;
  margin: 0 9px 0 0;
}

#listPage footer .ui-block-b {
  text-align: center;
}

#listPage footer .ui-block-b h4{
  padding: 0;
  margin: 8px 0 0 0;
  font-size: 1.47em;
}

#options section {
  overflow: auto;
  height: 370px;
}

#options .ui-dialog-contain {
  margin: 5% auto 15px;
}

#options .ui-field-contain {
  margin: -10px 0 20px 0;
}

#options .ui-field-contain div.ui-select {
  width: 50%;
}

#options .ui-field-contain label.ui-select {
  width: 200px;
}

#options #keywordList .ui-block-a {
  width: 417px;
}

#options #keywordList .ui-block-b {
  padding-left: 5px;
  width: 10px;
}

#options footer {
  padding-bottom: 3px;
  padding-left: 0;
}

#analysis section {
  overflow-y: auto;
  overflow-x: hidden;
  height: 0;
  padding: 10px 0 0 10px;
}

#analysis section .tbl-wrapper {
  width: 561px;
  margin: 0 auto;
}

#analysis #aData h2 {
  margin-top: 30%;
  text-align: center;
}

#analysis .stick {
  color: #fff;
  background-color: #111;
  padding: 0 5px;
  min-width: 30px;
  font-size: 0.8em;
  font-weight: 300;
}

#analysis table .al-right {
  text-align: right;
}